{% extends 'navbar.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    
    <div class="container front">

    {% if app.user %}
        <div class="uk-margin">
            You are logged in as {{ app.user.email }}, <a class="uk-button uk-button-secondary" href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
<div align="center">
<form method="post" align="left" class="uk-width-1-2 uk-form-horizontal uk-margin-large">
    {% if error %}
        <div class="uk-alert uk-alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    
    {% if not app.user %}

    <h1 align="center">Login</h1>
    <div class="uk-margin">
        <label class="uk-form-label" for="inputEmail">Email</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus placeholder="Entrez votre email">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="inputPassword">Password</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="password" name="password" id="inputPassword"  autocomplete="current-password" required placeholder="Password">
        </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="uk-button uk-button-primary" type="submit">Login</button>

</form>
    {% endif %}
</div>
</div>
{% endblock %}
