{% extends 'base.html.twig' %}

{% block title %}Genre index{% endblock %}

{% block body %}
    <h1 align="center">Genre index</h1>
    {% for message in app.flashes('Success') %}
        <div class="uk-alert uk-alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('Warning') %}
        <div class="uk-alert uk-alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    <div align="center">
        <table class="uk-table uk-width-1-2@s">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for genre in genres %}
                <tr>
                    <td>{{ genre.id }}</td>
                    <td>{{ genre.nom }}</td>
                    <td>
                        <a href="{{ path('genre_show', {'id': genre.id}) }}" class="uk-button uk-button-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                        <a href="{{ path('genre_edit', {'id': genre.id}) }}" class="uk-button uk-button-primary"><i class="fas fa-edit"></i> Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div align="center">
        <a href="{{ path('genre_new') }}" class="uk-button uk-button-secondary"><i class="fas fa-plus-square"></i> Create new</a>
    </div>
{% endblock %}
