{% extends 'navbar.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% if not app.user %}

    <div class="container front">
        <div align="center">
        <h1>Register</h1>
            <div align="left" class="uk-width-1-2@s">
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="uk-button uk-button-primary">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
