{% extends 'navbar.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}

<div class="container front">

    <h1>Livre index</h1>
    {{ form_start(search) }}
        <div class="uk-width-1-2@s" uk-grid>
            <div>
            {{ form_row(search.titre) }}
            </div>
            <div>
            {{ form_row(search.Rechercher) }}
            </div>
        </div>
    {{ form_end(search) }}
    {% for message in app.flashes('Success') %}
        <div class="uk-alert uk-alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('Warning') %}
        <div class="uk-alert uk-alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    <table class="uk-table">
        <thead>
            <tr>
                <th>Isbn</th>
                <th>Titre</th>
                <th>Auteurs</th>
                <th>Genres</th>
                <th>Nombre de pages</th>
                <th>Date de parution</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.isbn }}</td>
                <td>{{ livre.titre }}</td>
                <td>
                    <ul>
                        {% for auteur in livre.auteurs%}
                            <li>{{ auteur }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for genre in livre.genres%}
                            <li>{{ genre }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ livre.nombrePages }} pages</td>
                <td>{{ livre.dateDeParution ? livre.dateDeParution|date('d-m-Y') : '' }}</td>
                <td style="color:{% if livre.note>17 %}green{% endif %}{% if livre.note>14 and livre.note<=17 %}black{% endif %}{% if livre.note>=10 and livre.note<=14 %}orange{% endif %}{% if livre.note<10 %}red{% endif %}">{{ livre.note }} / 20</td>

                <td>
                    <a href="{{ path('livre_show', {'id': livre.id}) }}" class="uk-button uk-button-default"><i class="fas fa-eye"></i> Show</a>
                {% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}
                        <a href="{{ path('livre_edit', {'id': livre.id}) }}" class="uk-button uk-button-primary"><i class="fas fa-edit"></i> Edit</a>
                    {% endif %}
                </td>


            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if search.titre %}
    <ul class="uk-pagination">
    {% for i in 1..((totalLivres/5)|round(0,'ceil')) %}
        <li>
            <a href="{{ path("livre_index", {page : i}) }}">{{i}}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}
{% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}
    <a href="{{ path('livre_new') }}" class="uk-button uk-button-secondary"><i class="fas fa-plus-square"></i> Create new</a>
{% endif %}

</div>
{% endblock %}
