{% extends 'base.html.twig' %}

{% block title %}Auteur index{% endblock %}

{% block body %}
<div class="container">
    <h1>Auteur index</h1>
    {% for message in app.flashes('Success') %}
        <div class="uk-alert uk-alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('Warning') %}
        <div class="uk-alert uk-alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    <table class="uk-table">
        <thead>
            <tr>
                <th>Nom & prenom</th>
                <th>Sexe</th>
                <th>Date de naissance</th>
                <th>Nationalité</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.nomPrenom }}</td>
                <td>
                    {% if auteur.sexe == 'M' %}
                        <i class="fas fa-mars"></i>
                    {% endif %}
                    {% if auteur.sexe == 'F' %}
                        <i class="fas fa-venus"></i>
                    {% endif %}
                </td>
                <td>{{ auteur.dateDeNaissance ? auteur.dateDeNaissance|date('d-m-Y') : '' }}</td>
                <td>{{ auteur.nationalite }}</td>
                <td>
                    <a href="{{ path('auteur_show', {'id': auteur.id}) }}" class="uk-button uk-button-default"><i class="fas fa-eye"></i> Show</a>
                {% if app.user %}
                    <a href="{{ path('auteur_edit', {'id': auteur.id}) }}" class="uk-button uk-button-primary"><i class="fas fa-edit"></i> Edit</a>
                {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if app.user %}

    <a href="{{ path('auteur_new') }}" class="uk-button uk-button-secondary"><i class="fas fa-plus-square"></i> Create new</a>

{% endif %}

</div>
{% endblock %}
